{% extends 'main/layout.html' %}
{% block Head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style1.css'%}"/>
    {% block Title %}
        <title>Login Form</title>
    {% endblock %}
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"/>
{% endblock %}

{% block Body %}
    <div class="wrapper">
      <form action="authorization.html" method="get">
        <h1>Вход</h1>
        <div class="input-box">
          <input type="password" placeholder="Пароль" required />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <div class="remember-forgot">
          <label><input type="checkbox" /> Запомнить меня</label>
          <a href="https://t.me/sqmwg" target="_blank">Забыли пароль? </a>
        </div>
        <button type="submit" class="btn btn-success">Войти</button>
      </form>
    </div>
{% endblock %}

