{% extends 'main/layout.html' %}

{% block Head %}
    {% block Title %}
    <title>Check form</title>
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style2.css' %}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      rel="stylesheet"
    />
{% endblock %}

{% block Body %}
    <div class="wrapper">
      <!-- <i class="fa-solid fa-circle-question"></i> -->
      <p class="info">ФИО студента</p>
      <h2 class="question">Работа зачтена?</h2>
      <textarea class="textarea" placeholder="Комментарий"></textarea>
      <div class="btn-group">
        <button class="yes-btn">Да</button>
        <button class="no-btn">Нет</button>
      </div>
    </div>
{% endblock %}
